

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.containerTitulo{
    width: 100%;
    text-align: center;
}

.containerContacto{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    .contactoMensajes{
        width: 50%;
        text-align: center;
    }   
    .contactoInfo{
        width: 50%;
        text-align: center;
    }
    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }