@import url(banner.css);
@import url(nosotros.css);
@import url(carrusel.css);
@import url(areas.css);
@import url(contacto.css);
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
 }
.body-all{
    background-color: #FFFFFF;
}
.menu {
    width: 40px;
    height: 40px;
    display: none ;
    margin: 5px;
    justify-self: flex-end;
    color: #FFFFFF;
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #67B8B5, #74B46D);
}

.nave{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.ul-nave{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;

}

.ul-nave li{
    
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
    
}

.ul-nave li a{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

 .ul-nave li a:hover{
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    font-weight: 600;
    padding: 0 20px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    

}

footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #74B46D;
    font-size: 10px;
}     
footer a{
    margin:0px 5px;
}      
footer i{
    color: #74B46D;
    font-size: 10px;
} 
footer p{
    margin: 0px 10px;
    font-weight: bold;
    font-size: 10px;
}
@media screen and (max-width:700px){
    .header{
        justify-content: flex-end;
       
    }
   .nave{
    
    
    transform: translate(-200%);
    position: fixed;
    width: 50%;
    height: 500px;
    background-image: linear-gradient(to right,#67B8B5,#74B46D );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    }
    .ul-nave{
        height: 400px;
        flex-direction: column;
        justify-content: space-around;

    }
    .menu{
        display: inline-block;
        
    }
    .move{
        transform: translate(-100%);
        position: absolute;
        transition: .2s all ease-in;
    }
}

